{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">{% block title %} Login {% endblock %}</h1>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password }}
        </div>
        <div>
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
{% endblock %}