{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">{% block title %} Register {% endblock %}</h1>
    <form action="{{ url_for('register') }}" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password }}
        </p>
        <p>
            {{ form.submit(class='btn btn-primary') }}
        </p>
    </form>
{% endblock %}